@import 'styles/variables';

.Portfolio {
  position: relative;
  margin-top: $margin-lg;
  margin-bottom: $margin-md;

  h1 {
    margin-bottom: $margin-md;
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $margin-sm $margin-xs;
  }

  &__tags-list {
    margin-bottom: $margin-md;
  }

  &__tag {
    margin: 0 $margin-xs $margin-xs 0;
  }

  &__tags-reset {
    font-size: 12px;
    color: $blue-2;
    text-decoration: none;
    transition: opacity $effect-short;

    &:hover {
      opacity: 0.8;
    }
  }
}
